@styles = {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jasmine.css")">
}

@scripts = {
<script src="@routes.Assets.at("javascripts/jasmine.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jasmine-html.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/require-jquery.js")" type="text/javascript" data-main="@routes.Assets.at("javascripts/specs/main")"></script>
}

@main("Funding Facilitator Tests", scripts, styles) {
    
    
    
}
